<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>List of Products</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" th:href="@{webjars/bootstrap/3.1.0/css/bootstrap.min.css}" media="screen"/>
        <link rel="stylesheet" th:href="@{css/spring-core.css}" media="screen"/>
        <script th:src="@{webjars/jquery/3.4.1/jquery.min.js}" ></script>

    </head>
<body>
    <div class="container">
        <h1>Product List</h1>
        <table border="2">
            <tr>
                <th>Id</th>
                <th>Desc</th>
                <th>Price</th>
                <th>Image Url</th>
                <th>View</th>
            </tr>
            <tr th:each="product: ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.imageUrl}"></td>
                <td>
                    <a th:href="${'/products/' + product.id}">view</a> | <a th:href="${'/products/' + product.id}">update</a> | <a th:href="${'/products/' + product.id}">delete</a> 
                </td>
            </tr>   
        </table>
        <a href="/products/new">+add</a>
    </div>
</body>
</html>